---
name: CI

env:
  SOPS_VERSION: 3.5.0

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - uses: actions/checkout@v2
      - name: Run the sh-checker
        uses: luizm/action-sh-checker@v0.1.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          sh_checker_comment: true
          sh_checker_exclude: "tests"
  unit-tests:
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest] # [dash, zsh]
        container: [~]
        include:
        - os: ubuntu-latest
          container: alpine   # ash
        - os: ubuntu-latest
          container: centos:7 # bash
    steps:
      - uses: actions/cache@v1
        with:
          path: ${{ github.workspace }}/bin
          key: sops-${{ env.SOPS_VERSION }}

      - name: Install dependencies
        run: |-
          if command -v apk > /dev/null; then
            apk add --no-cache bash git curl gnupg
          elif command -v yum > /dev/null; then
            yum install -y git-core
          fi

          mkdir -p "$GITHUB_WORKSPACE/bin"
          echo "::add-path::$GITHUB_WORKSPACE/bin/"
          export PATH="$GITHUB_WORKSPACE/bin/:$PATH"

          curl -sSfL "https://github.com/mozilla/sops/releases/download/v${SOPS_VERSION}/sops-v${SOPS_VERSION}.$(uname | awk '{print tolower($0)}')" -z "$GITHUB_WORKSPACE/bin/sops" -o "$GITHUB_WORKSPACE/bin/sops"
          chmod +x "$GITHUB_WORKSPACE/bin/sops"

      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Setup Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.2.0

      - name: Print Environment
        run: |-
          tests/bats/core/install.sh "$GITHUB_WORKSPACE"

          echo "Shell: $(readlink /bin/sh)"
          bats -v
          sops --version
          gpg --version

      - name: helm plugin install
        run: helm plugin install .

      - run: bats --tap -r tests/unit
  integration-tests:
    needs: [unit-tests]
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - uses: engineerd/setup-kind@v0.3.0
        with:
          image: kindest/node:v1.17.0

      - run: kubectl cluster-info

      - uses: actions/cache@v1
        with:
          path: ${{ github.workspace }}/bin
          key: sops-${{ env.SOPS_VERSION }}

      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Setup Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.2.0

      - name: Install dependencies
        run: |-
          mkdir -p "$GITHUB_WORKSPACE/bin"
          curl -sSfL "https://github.com/mozilla/sops/releases/download/v${SOPS_VERSION}/sops-v${SOPS_VERSION}.$(uname | awk '{print tolower($0)}')" -z "$GITHUB_WORKSPACE/bin/sops" -o "$GITHUB_WORKSPACE/bin/sops"
          export PATH="$GITHUB_WORKSPACE/bin/:$PATH"
          echo "::add-path::$GITHUB_WORKSPACE/bin/"
          chmod +x "$GITHUB_WORKSPACE/bin/sops"
          sops --version

          tests/bats/core/install.sh "$GITHUB_WORKSPACE"
          bats -v

      - name: helm plugin install
        run: helm plugin install .

      - run: bats --tap -r tests/it
