---
name: CI

env:
  WSLENV: "HELM_SECRETS_BACKEND:BATS_REPORT_FILENAME:BATS_TEST_NAME_PREFIX"
  # renovate: github=helm/helm
  VERSION_HELM: 3.19.2
  # renovate: github=getsops/sops
  VERSION_SOPS: 3.11.0
  # renovate: github=helmfile/vals
  VERSION_VALS: 0.42.5

on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

jobs:
  detect-changes:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    outputs:
      changed: ${{ steps.set-output.outputs.changed }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - id: set-output
        name: Detect changes
        shell: bash
        run: |
          echo "changed=$(git diff --name-only origin/${{ github.base_ref }} ${{ github.sha }} -- scripts/ tests/ .github/workflows/ci.yaml | wc -l)" >> $GITHUB_OUTPUT

  lint:
    runs-on: ubuntu-24.04
    needs: detect-changes
    if: "(needs.detect-changes.outputs.changed != '0' || github.event_name == 'push')"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run the sh-checker
        uses: luizm/action-sh-checker@17bd25a6ee188d2b91f677060038f4ba37ba14b2 # v0.9.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHELLCHECK_OPTS: -x
        with:
          sh_checker_comment: true
          sh_checker_exclude: "tests/assets tests/bats"

      - name: Run the sh-checker
        uses: luizm/action-sh-checker@17bd25a6ee188d2b91f677060038f4ba37ba14b2 # v0.9.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHELLCHECK_OPTS: -x
        with:
          sh_checker_comment: true
          sh_checker_exclude: "tests/"
          sh_checker_shfmt_disable: true
          sh_checker_shellcheck_disable: true
          sh_checker_checkbashisms_enable: true

  unit-tests:
    runs-on: ${{ matrix.os }}
    if: "(needs.detect-changes.outputs.changed != '0' || github.event_name == 'push')"
    needs: detect-changes
    container: ${{ matrix.container }}
    env:
      HELM_SECRETS_WINDOWS_SHELL: ${{ matrix.shell == 'wsl' && 'wsl' || 'bash' }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        container: [""]
        shell: [dash]
        jobs: [4]
        helm-version: [""]
        include:
          - os: windows-2025
            shell: bash
            jobs: 1
          - os: windows-2025
            shell: cygwin
            jobs: 1
          - os: windows-2025
            shell: wsl
            jobs: 4
          - os: macos-15
            shell: bash 3.2
            jobs: 4
          - os: macos-15
            shell: bash 3.2 with coreutils
            jobs: 4
          - os: ubuntu-24.04
            container: registry.access.redhat.com/ubi8/ubi-minimal
            shell: bash 4.4
            jobs: 4
          - os: ubuntu-24.04
            container: registry.access.redhat.com/ubi9/ubi-minimal
            shell: bash 4.4
            jobs: 4
          - os: ubuntu-24.04
            container: registry.access.redhat.com/ubi10/ubi-minimal
            shell: bash 4.4
            jobs: 4
          - os: ubuntu-24.04
            shell: bash
            jobs: 4
            helm-version: 3.9.4
          - os: ubuntu-24.04
            shell: bash
            jobs: 4
            helm-version: 3.16.4
          - os: ubuntu-24.04
            shell: bash
            jobs: 4
            helm-version: 4.0.0
          - os: ubuntu-24.04
            container: alpine
            shell: zsh
            jobs: 4
          - os: ubuntu-24.04
            container: alpine
            shell: ash
            jobs: 4
          - os: ubuntu-24.04
            container: ubuntu:22.04
            shell: posh
            jobs: 4
    steps:
      - name: Install dependencies
        if: "matrix.container"
        run: |-
          if command -v apk > /dev/null; then
            apk add --no-cache bash git gnupg parallel
          elif command -v apt-get > /dev/null; then
            apt-get update -qqy
            apt-get install -qqy git unzip gnupg curl parallel
          elif command -v yum > /dev/null; then
            if [ "$(rpm -E %{rhel})" == "7" ]; then
              yum-config-manager --add-repo='https://download.copr.fedorainfracloud.org/results/jkroepke/git/epel-$releasever-x86_64/'
              rpm --import https://download.copr.fedorainfracloud.org/results/jkroepke/git/pubkey.gpg
            fi
            echo -e '[epel]\nname=Extra Packages for Enterprise Linux $releasever - $basearch\nmetalink=https://mirrors.fedoraproject.org/metalink?repo=epel-$releasever&arch=$basearch&infra=$infra&content=$contentdir\nenabled=1\ngpgcheck=1\ngpgkey=https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-7' > /etc/yum.repos.d/epel.repo
            yum install -y git-core unzip parallel
          elif command -v microdnf > /dev/null; then
            if [ "$(rpm -E %{rhel})" == "7" ]; then
              echo -e '[copr:copr.fedorainfracloud.org:jkroepke:git]\nname=Copr repo for git owned by jkroepke\nbaseurl=https://download.copr.fedorainfracloud.org/results/jkroepke/git/epel-7-$basearch/\ntype=rpm-md\nenabled=0\ngpgcheck=1\ngpgkey=https://download.copr.fedorainfracloud.org/results/jkroepke/git/pubkey.gpg\nrepo_gpgcheck=0\nenabled=1\nenabled_metadata=1' > /etc/yum.repos.d/jkroepke-git.repo
            fi
            echo -e '[epel]\nname=Extra Packages for Enterprise Linux $releasever - $basearch\nmetalink=https://mirrors.fedoraproject.org/metalink?repo=epel-$releasever&arch=$basearch&infra=$infra&content=$contentdir\nenabled=1\ngpgcheck=1\ngpgkey=https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-'$(rpm -E %{rhel}) > /etc/yum.repos.d/epel.repo
            microdnf install -y --nodocs git-core unzip tar findutils diffutils parallel gnupg2
          
            # remove xargs from RHEL image to keep compatibility with OpenShift GitOps
            rm -f "$(which xargs)"
          fi

      - name: Install zsh
        if: "contains(matrix.shell, 'zsh')"
        run: apk add zsh && ln -sf "$(command -v zsh)" /bin/sh

      - name: Install posh
        if: "contains(matrix.shell, 'posh')"
        run: apt install -y posh && ln -sf "$(command -v posh)" /bin/sh

      - name: Disable autocrlf
        run: |-
          git config --global core.autocrlf false
          git config --global core.eol lf
        if: "contains(matrix.os, 'windows')"

      # this is to fix https://github.com/actions/checkout/issues/760
      - run: git config --global --add safe.directory /__w/helm-secrets/helm-secrets

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true

      - name: Setup Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v${{ matrix.helm-version != '' && matrix.helm-version || env.VERSION_HELM }}

      - name: Setup Sops
        uses: jkroepke/setup-sops@d18c5b2c6f7c5384431a8fdb377e3bc4ffcb9a79 # v1.3.8
        with:
          version: ${{ env.VERSION_SOPS }}

      - name: Setup vals
        uses: jkroepke/setup-vals@3f24e9af4fffdc6795d0277099bf8e13d5b11959 # v1.5.12
        with:
          version: v${{ env.VERSION_VALS }}

      - name: Setup Cygwin
        if: "contains(matrix.shell, 'cygwin')"
        uses: cygwin/cygwin-install-action@v5
        with:
          platform: x64
          packages: gnupg2

      - name: Setup WSL
        if: "contains(matrix.shell, 'wsl')"
        uses: Vampire/setup-wsl@6a8db447be7ed35f2f499c02c6e60ff77ef11278 # v6.0.0
        with:
          distribution: Ubuntu-24.04
          wsl-version: 1

      - name: Setup coreutils
        if: "contains(matrix.shell, 'coreutils')"
        run: |-
          brew install coreutils
          echo "/usr/local/opt/coreutils/libexec/gnubin" >> $GITHUB_PATH

      - name: Setup parallel (mac OS)
        if: "contains(matrix.os, 'macos')"
        run: brew install parallel

      - name: Setup parallel (WSL)
        if: "contains(matrix.shell, 'wsl')"
        run: wsl bash -c 'apt-get update -qq && apt-get install -yqq parallel'

      - name: Print Environment
        continue-on-error: true
        run: |-
          bash -c 'echo "Shell: $(readlink /bin/sh || readlink /var/select/sh || echo unknown)"'
          bash tests/bats/core/bin/bats -v
          sops --version
          gpg --version
          vals version

      - name: Run helm-secrets w/o bats
        if: ${{ !startsWith(matrix.helm-version, '4') }}
        run: |-
          helm plugin install "${{ github.event_name == 'pull_request'
            && format('{0}/{1}', github.server_url, github.event.pull_request.head.repo.full_name)
            || format('{0}/{1}', github.server_url, github.repository)
          }}" --version "${{ github.event_name == 'pull_request'
            && github.head_ref
            || github.ref
          }}"
          helm plugin list
          helm secrets -v

      - name: Run helm-secrets w/o bats
        if: ${{ startsWith(matrix.helm-version, '4') }}
        run: |-
          helm plugin install plugins/helm-secrets-cli
          helm plugin install plugins/helm-secrets-getter
          helm plugin install plugins/helm-secrets-post-renderer
          helm plugin list
          helm secrets -v

      - name: HELM_SECRETS_BACKEND=sops bats --tap -r tests/unit
        run: ${{ contains(matrix.shell, 'wsl') && 'wsl' || '' }} bash tests/bats/core/bin/bats --jobs ${{ matrix.jobs }} --timing --tap --report-formatter junit -r tests/unit
        env:
          HELM_SECRETS_BACKEND: sops
          BATS_TEST_NAME_PREFIX: "[${{ matrix.os }}|${{ matrix.shell }}|sops] "
          BATS_REPORT_FILENAME: TEST-sops.xml

      - name: HELM_SECRETS_BACKEND=vals bats --tap -r tests/unit
        if: "!contains(matrix.shell, 'cygwin')"
        run: ${{ contains(matrix.shell, 'wsl') && 'wsl' || '' }} bash tests/bats/core/bin/bats --jobs ${{ matrix.jobs }} --timing --tap --report-formatter junit -r tests/unit
        env:
          HELM_SECRETS_BACKEND: vals
          BATS_TEST_NAME_PREFIX: "[${{ matrix.os }}|${{ matrix.shell }}|vals] "
          BATS_REPORT_FILENAME: TEST-vals.xml

      - name: Upload Test Report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: junit-test-results-${{ strategy.job-index }}
          path: 'TEST-*.xml'
          retention-days: 1

  coverage:
    runs-on: ubuntu-24.04
    if: "(needs.detect-changes.outputs.changed != '0' || github.event_name == 'push')"
    needs: detect-changes
    env:
      BATSLIB_TEMP_PRESERVE: "0"
      BATSLIB_TEMP_PRESERVE_ON_FAILURE: "0"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Ruby 3.0
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: "3.4.7"

      - name: Setup Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v${{ env.VERSION_HELM }}

      - name: Setup Sops
        uses: jkroepke/setup-sops@d18c5b2c6f7c5384431a8fdb377e3bc4ffcb9a79 # v1.3.8
        with:
          version: ${{ env.VERSION_SOPS }}

      - name: Setup vals
        uses: jkroepke/setup-vals@3f24e9af4fffdc6795d0277099bf8e13d5b11959 # v1.5.12
        with:
          version: v${{ env.VERSION_VALS }}

      - name: Install bashcov
        run: bundle install

      - name: Print Environment
        run: |-
          bash -c 'echo "Shell: $(readlink /bin/sh || readlink /var/select/sh)"'
          bash tests/bats/core/bin/bats -v
          sops --version
          gpg --version
          vals version

      - name: Prepare bashcov
        run: grep -rl 'env sh' scripts | xargs sed -i 's/env sh/env bash/'

      - name: bashcov bats --tap -r tests/unit
        run: bashcov -- tests/bats/core/bin/bats --tap -r tests/unit
        env:
          HELM_SECRETS_BACKEND: sops
          BASHCOV_COMMAND_NAME: helm-secrets:sops

      - name: bashcov bats --tap -r tests/unit
        run: bashcov -- tests/bats/core/bin/bats --tap -r tests/unit
        env:
          HELM_SECRETS_BACKEND: vals
          BASHCOV_COMMAND_NAME: helm-secrets:vals

      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: ./coverage/coverage.xml
          fail_ci_if_error: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - run: rm -rf ./coverage/

      - uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0

      - name: bashcov bats --tap -r tests/it
        run: bashcov -- tests/bats/core/bin/bats --tap -r tests/it
        env:
          BASHCOV_COMMAND_NAME: helm-secrets:it

      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: ./coverage/coverage.xml
          fail_ci_if_error: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  integration-tests:
    runs-on: ubuntu-24.04
    if: "(needs.detect-changes.outputs.changed != '0' || github.event_name == 'push')"
    needs: detect-changes
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        container: [""]
        shell: [dash]
        jobs: [4]
    steps:
      - uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0

      - run: kubectl cluster-info

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true

      - name: Setup Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v${{ env.VERSION_HELM }}

      - name: Setup Sops
        uses: jkroepke/setup-sops@d18c5b2c6f7c5384431a8fdb377e3bc4ffcb9a79 # v1.3.8
        with:
          version: ${{ env.VERSION_SOPS }}

      - name: Setup vals
        uses: jkroepke/setup-vals@3f24e9af4fffdc6795d0277099bf8e13d5b11959 # v1.5.12
        with:
          version: v${{ env.VERSION_VALS }}

      - name: Print Environment
        run: |-
          echo "Shell: $(readlink /bin/sh || readlink /var/select/sh)"
          bash tests/bats/core/bin/bats -v
          sops --version
          gpg --version
          vals version

      - name: helm plugin install
        run: helm plugin install .

      - run: bash tests/bats/core/bin/bats --jobs ${{ matrix.jobs }} --timing --tap --report-formatter junit -r tests/it
        env:
          BATS_TEST_NAME_PREFIX: "[${{ matrix.os }}|${{ matrix.shell }}|sops] "
          BATS_REPORT_FILENAME: TEST-sops.xml

      - name: Upload Test Report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: junit-test-results-it-${{ strategy.job-index }}
          path: 'TEST-*.xml'
          retention-days: 1
          if-no-files-found: error

  report:
    runs-on: ubuntu-24.04
    if: always()
    needs:
      - unit-tests
      - integration-tests
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: .

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # v6.0.1
        with:
          report_paths: '**/TEST-*.xml'
          detailed_summary: true

  fail:
    if: "${{ cancelled() || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'failure') }}"
    needs:
      - "lint"
      - "report"
      - "coverage"
    runs-on: "ubuntu-24.04"
    steps:
      - name: "verify checks passed"
        run: |
          echo "Some checks have failed!"
          exit 1
