on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v4.0.0

      - name: GPG configuration
        run: |-
          echo "$GPG_KEY" > "$GPG_KEY_PATH"
          mkdir -p "$HOME/.gnupg"
          chmod 0700 "$HOME/.gnupg"
          echo "use-agent" > "$HOME/.gnupg/gpg.conf"
          echo "pinentry-mode loopback" >> "$HOME/.gnupg/gpg.conf"
          echo "allow-loopback-pinentry" > "$HOME/.gnupg/gpg-agent.conf"
          echo "max-cache-ttl 86400" >> "$HOME/.gnupg/gpg-agent.conf"
          echo "default-cache-ttl 86400" >> "$HOME/.gnupg/gpg-agent.conf"
          gpgconf --kill gpg-agent
          gpgconf --launch gpg-agent
          echo "$GPG_PASSPHRASE" | gpg --batch --yes --passphrase-fd 0 --import "$GPG_KEY_PATH"
          echo "1F34F95B4F30BC5B06E0D7CC3F619F17002790D8:6:" | gpg --import-ownertrust
          
          echo "$GPG_PASSPHRASE" | gpg --batch --yes --passphrase-fd 0 --export-secret-keys $GPG_KEY_ID >~/.gnupg/secring.gpg
          gpg --batch --yes --export $GPG_KEY_ID >~/.gnupg/pubring.gpg
        env:
          GPG_KEY_ID: ${{ vars.GPG_KEY_ID }}
          GPG_KEY: ${{ secrets.GPG_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          GPG_KEY_PATH: "${{ runner.temp }}/private.key"

      - name: Package helm-secrets
        run: tar --transform 's,^,helm-secrets/,' --exclude=contrib --exclude=examples --exclude=tests --exclude=helm-secrets.tar.gz -zcvf helm-secrets.tar.gz *

      - name: Package helm-secrets-cli
        run: |
          rm -rf scripts
          cp -a ../../scripts .
          helm plugin package . --sign --passphrase-file - --key "$GPG_KEY_ID" <<< "$GPG_PASSPHRASE"
        working-directory: plugins/helm-secrets-cli
        env:
          GPG_KEY_ID: ${{ vars.GPG_KEY_ID }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Package helm-secrets-getter
        run: |
          rm -rf scripts
          cp -a ../../scripts .
          helm plugin package . --sign --passphrase-file - --key "$GPG_KEY_ID" <<< "$GPG_PASSPHRASE"
        working-directory: plugins/helm-secrets-getter
        env:
          GPG_KEY_ID: ${{ vars.GPG_KEY_ID }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Package helm-secrets-post-renderer
        run: |
          rm -rf scripts
          cp -a ../../scripts .
          helm plugin package . --sign --passphrase-file - --key "$GPG_KEY_ID" <<< "$GPG_PASSPHRASE"
        working-directory: plugins/helm-secrets-post-renderer
        env:
          GPG_KEY_ID: ${{ vars.GPG_KEY_ID }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Create Release
        run: |
          find .
          gh release create ${{ github.ref_name }} \
            -t "Release ${{ github.ref_name }}" \
            -n "# CHANGELOG

          * https://github.com/jkroepke/helm-secrets/blob/${{ github.ref_name }}/CHANGELOG.md" \
            ${{ contains(github.ref_name, 'rc') && '--prerelease' || '--latest' }} \
          helm-secrets.tar.gz
          plugins/helm-secrets-cli/secrets-*.tgz
          plugins/helm-secrets-cli/secrets-*.tgz.prov
          plugins/helm-secrets-getter/secrets-*.tgz
          plugins/helm-secrets-getter/secrets-*.tgz.prov
          plugins/helm-secrets-post-renderer/secrets-*.tgz
          plugins/helm-secrets-post-renderer/secrets-*.tgz.prov
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  docs:
    name: Set latest version
    runs-on: ubuntu-latest
    if: "!contains(github.ref_name, 'rc')"
    permissions:
      contents: write
      pull-requests: write
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - run: >-
        sed -i 's/HELM_SECRETS_VERSION=".*"/HELM_SECRETS_VERSION="'${GITHUB_REF_NAME/v}'"/g' docs/ArgoCD\ Integration.md
    - run: >-
        sed -i -e '/- name: HELM_SECRETS_VERSION/{n;d;}' docs/ArgoCD\ Integration.md
    - run: >-
        sed -i -e '/- name: HELM_SECRETS_VERSION/a\'$'\n''          value: "'${GITHUB_REF_NAME/v}'"' docs/ArgoCD\ Integration.md
    - run: >-
        sed -i "s/--version .*/--version ${GITHUB_REF_NAME}/g" docs/Installation.md

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      with:
        commit-message: "[docs] Set version to ${{ github.ref_name }}"
        title: "[docs] Set version to ${{ github.ref_name }}"
        delete-branch: true
        base: main
        branch: docs/${{ github.ref_name }}
