name: Push to GH Wiki

on:
  push:
    branches:
      - main
    paths:
      - docs/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ${{ github.repository }}.wiki
          path: wiki

      - name: sync wiki
        run: rsync -av --delete --exclude=ARGOCD.md --exclude=README.md --exclude=.git docs/ wiki/

      - name: remove header line
        run: sed -i '1d' wiki/*.md

      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git diff-index --quiet HEAD || git commit -m "Automatically publish wiki" && git push
        working-directory: wiki
